body {
  background-image: url("https://www.google.com/search?q=.png&rlz=1C1GCEB_enUS860US860&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjk47u9lODjAhVsdt8KHaLvBi4Q_AUIESgB&biw=1280&bih=578#imgrc=M8aDEKxDs2-u-M:");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}
